<jumbotron class="parallax"></jumbotron>
<div class="col-12">
	<h1>{{title}}</h1>

	<p class="lead">{{message}}</p>

	<p>Detta är min farfars hus i hembyn där oliverna kommer ifrån.</p>

	<h3>Hur det började</h3>
	<p>Det hela började på skoj med mina kollegor på fikarummet.</p>

	<blockquote class="blockquote">
	    <p>
	        - Vad är detta du äter, frågade de.
	        <br> - Jo, det är oliver från vår familjeägda olivlund i Grekland.
	        <br> - Kan vi smaka?
	        <br> - Javisst!
	    </p>
	</blockquote>

	<p>Efter provsmakning kom önskemålet att beställa och en sak följer den andra och därför började jag importera vår egen olivolja och oliver och dela med mina vänner, mina kollegor, mina grannar och varför inte med Dig!</p>


	<p>Jag brukar anordna provsmakningar av oliver och olivoljan.</p>

	<h3>Tillverkningsprocessen</h3>
	<p>Frukten vägs följt av avlövning. Frukten tvättas i vatten och skickas vidare till krossen. Därefter kallpressas oliverna i max 30 ° C. Oljan går vidare till avskiljaren där den separeras från avfall och restprodukter. Producerad olja transporteras till vårt lager och vidare hem till dig.</p>
	<blockquote class="blockquote">
	    <p class="mb-0">Den bättre oljan framställs genom att oliverna pressas vid måttlig temperatur, så kallad kallpressning, vilket innebär att temperaturen ska hållas inom 28 °C-35 °C. Kallpressning av olivolja är en kemikaliefri process där endast tryck används för att producera högkvalitativ olja.</p>
	    <footer class="blockquote-footer">
	        <cite title="https://sv.wikipedia.org/wiki/Olivolja">Wikipedia</cite>
	    </footer>
	</blockquote>

	<p>Från denna olivlund plockas och kallpressas oliver som sedan skickas till dig.</p>

	<h3>Förvaring och transport</h3>
	<p>Olivoljan bör förvaras svalt och mörk. Förråd, garage eller skåp bestämmer Du. Olivoljan har en lång hållbarhetstid pga högt innehåll av vitaminer och antioxidanter. Vi använder oss av etablerade samarbetspartner för transport från oss till din dörr.</p>
	<blockquote class="blockquote">
	    <p class="mb-0">Förvaras oljan för varmt härsknar den, vilket är förödande för smaken. Syrahalten påverkar inte smaken, men låg syrahalt är förmånligt för hållbarheten. Oljan får inte heller förvaras alltför kallt, ty då grumlas den, fettet kristalliserar. Grumlingen försvinner dock om temperaturen höjs, och smaken ändras inte nämnvärt av kylan. Idealisk förvaringstemperatur är 14 °C till 16 °C; alltså inte nära spisen, och inte i kylskåp och framför allt inte i solen. Smaken bevaras bäst vid mörk förvaring. I obruten förpackning är hållbarheten för de flesta oljor omkring 2 år, men vissa sorter kan hålla sig längre.</p>
	    <footer class="blockquote-footer">
	        <cite title="https://sv.wikipedia.org/wiki/Olivolja">Wikipedia</cite>
	    </footer>
	</blockquote>

	<p>Oliver av sorten amfissis.</p>

	<h3>Frågor om våra oliver?</h3>
	<p>Har Du frågor eller funderingar kring vår olivolja, tveka inte att kontakta mig på <a href="mailto:&#107;&#111;&#110;&#116;&#097;&#107;&#116;&#064;&#116;&#101;&#111;&#100;&#111;&#114;&#115;&#108;&#105;&#118;&#115;&#046;&#115;&#101;">kontakt@teodorslivs.se</a>.</p>
                
</div>