<jumbotron></jumbotron>
<menu-container></menu-container>
</div> <!-- ./container-fluid-->
<div class="container">
<div class="row">  
  <div class="col-12">
    <!--<side-buttons class="col-12 pl-md-0 pr-md-0"></side-buttons>-->

    <section class="text-center">
    <!--<h2 class="display-3">Exklusiva oliver & olivolja</h2>
    <p class="lead">
      Målet med denna webbsida är att sprida kunskap till det svenska folket om ett av de viktigaste livsmedel från mitt födelseland Grekland. Det är nämligen oliver och olivolja.</p>
    <!--<div class="col-md-2 m-auto">
      <img src="assets/img/teodorslivs-olivolja-flaska-300x400.png" class="img-fluid" alt="Teodorslivs Olivolja, Flaska" />
    </div>-->

    <!--<div ng-controller="StoreController as store" class="text-center">
      <div class="col-12 col-md-6 float-left" ng-repeat="product in store.products">
        <img class="rounded-circle" ng-src="{{product.images.full}}" alt="{{product.name}}" width="140" height="140">
        <h5>{{product.name}}</h5>
        <p>{{product.price | currency : "SEK"}}</p>
        <p><a class="btn btn-secondary" href="#" role="button">Beställ här</a></p>
      </div> 
    </div>-->
    </section>

    <section class="text-center my-md-5 py-md-5 clearfix  ">


    <img class="col-12 col-md-6 float-left img-fluid" src="assets/img/view.jpg" />
    <div class="col-12 col-md-6 float-left pr-md-5">
    <h2 class="display-4 py-2">Olivoljans ursprung</h2>
    <p>Olivträdet har sitt ursprung i mellanöstern och spred sig från Iran, Syrien och Palestina till resten av Medelhavsområdet för 6000 år sedan. Det är en av de äldsta odlade träden och odlades redan innan skriften uppfanns. Den första systematiska odlingen av olivträd i världen ägde rum i Grekland för 3500 år sedan. Det ljuva klimatet och en lång tradition gör att Grekland producerar några av världens finaste olivoljor. Olivoljan kallades för guld eftersom var den förknippat med näring, överlevnad och tillväxt. Därför har man med kärlek odlat, ömt vårdat, varsamt skördat och sedan pressat sina oliver till olja.</p>
  </div>
    </section>

    <section class="text-center my-md-5 py-md-5 clearfix  ">

    <img class="col-12 col-md-6 float-right img-fluid" src="assets/img/oil.jpg" />

    <div class="col-12 col-md-6 float-left pr-md-5"">
    <h2 class="display-4 py-2">Användningsområden</h2>
    <p>Olivoljan används främst för matlagning men har även en rad olika anvädningsområden. Visste du till exempel att olivoljan kan användas som en fuktgivare för huden, fettborttagning eller som ett smörjmedel?</p>

    <p>Oliver och olivolja är givetvis basen i många grekiska maträtter. Till exempel används olivolja och ibland oliver till den klassiska tzatsikin, den härliga taramosalata-röran eller som bas för dina marinerade souvlaki-spett Du lägger på grillen. Olivoljan är ett måste!</p>
  </div>
    </section>

    <section class="text-center my-md-5 py-md-5 clearfix  ">


    <img class="col-12 col-md-6 float-left img-fluid" src="assets/img/aids.png" />
    <div class="col-12 col-md-6 float-left pr-md-5">
    <h2 class="display-4 py-2">Teodors olivolja</h2>
    <p>Tempedalen (modern grekiska: Témpi) är det antika namnet på en klyfta i norra Thessalien i Grekland mellan berget Olympos i norr och berget Ossa i söder. Strax söderut om klyftan på väg till Larissa hittar vi Gònni som är byn familjen Karanis kommer ifrån Georgios Karanis (min farfar) ägde en av vattenkvarnarna i byn och familjens sysselsättning var också bl.a olivodling. Denna tradition fortsätter än idag när min pappa Teodor fortsätter på traditionsenligt vis att framta extra jungfru olivolja till din dunk/flaska. Jag bor med min familj i Sverige sedan drygt 10 år och min ambition är att länka dessa två världar, dagens Sverige med goda matvanor från hembyn Gonnoi i Grekland.</p>
  </div>
    </section>

    <p>
  </div>
</div>

<div class="row">
  <div class="col-12">
       <order-form></order-form> 
  </div>
</div>