<footer class="container py-5" ng-controller="FooterController as footer">
  <div class="row">
    <div class="col-12 col-md">
      <img src="assets/img/teodorslivs-logo-150x23.png" alt="" />
      <small class="d-block mb-3 text-muted">2010-2018</small>
      <img src="assets/img/qr-code.png" class="img-fluid" />
    </div>
    <div class="col-6 col-md">
      <h5>Kontakt</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted">{{footer.contacts.name}}</li>
        <li class="text-muted">{{footer.contacts.street}}</li>
        <li class="text-muted">{{footer.contacts.zip}} {{footer.contacts.city}}</li>
        <li class="text-muted">{{footer.contacts.email}}</li>
        <li class="text-muted">{{footer.contacts.phone}}</li>
      </ul>
    </div>
  <div class="col-6 col-md">
    <h5>Partners</h5>
    <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="http://www.restaurantolympia.se" target="_blank">restaurantolympia.se</a></li>
              <!--<li><a class="text-muted" href="http://www.grekisklink.com" target="_blank">grekisklink.com</a></li>-->
              <li><a class="text-muted" href="http://grekisktgott.com">grekisktgott.com</a></li>
              <li><a class="text-muted" href="http://www.johannelundsscout.se/" target="_blank">johannelundsscout.se</a></li>
              <li><a class="text-muted" href="http://www.saltmagasinet.com/" target="_blank">saltmagasinet.com</a></li>
              <!--<li><a class="text-muted" href="http://www.smattogott.nu" target="_blank">smattogott.nu</a></li>-->
    </ul>
  </div>

  <div class="col-6 col-md">
    <h5>Länkar</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#/home">Hem</a></li>
      <li><a class="text-muted" href="#/order">Beställ</a></li>
      <li><a class="text-muted" href="#/products">Produkter</a></li>
      <li><a class="text-muted" href="#/about">Om oss</a></li>
    </ul>
  </div>

</div>
</footer>